


<%- include('partials/header') %>

<div class="text-light" style="height: 95vh; background-color: #212121;">
    <div class="container">
        <section class="py-5 text-center container">
            <div class=" row py-5 ">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <h1>Discord Node.js</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, deleniti, eos vitae labore amet, eum repudiandae officiis reiciendis illo quam quibusdam ea facilis expedita dolorem debitis similique inventore dolores corporis.</p>
                    <p>
                        <a href="/auth" class="btn btn-primary my-2">Login with Discord</a>
                    </p>
                </div>
    
            </div>
        </section>
    </div>
</div>


<%- include('partials/footer') %>